<html>
	<body id='body'>
		<div id='container'>
		<div id='menus'>
			<%= render 'login' -%>
			</br>
			<%= render 'list_posts' -%>
		</div>
			<div id='conteudo'>
				<div id='post'>
				<% if @posts.empty? -%>
					<p>Não existe nenhum post cadastrado.</p>
				<% else %>
					<% @posts.each do |p| %>
							<div class="titulo"> <%= p.titulo.html_safe -%> </div>
							<div> <%= p.conteudo.html_safe -%> </div>
					<% end -%>
				<% end %>
				</div>
			</div>
		</div>
	</body>
</html>