<html>
	<body>
		<div id='container'>
			<%= render 'list_posts' -%>
			<div id='conteudo'>
				<% @posts.each do |p| %>
					<div id='post'>
						<div> <%= markdown(p.titulo) -%> </div>
						<div> <%= markdown(p.conteudo) -%> </div>
					</div>
				<% end %>
			</div>
		</div>
	</body>
</html>