<html>
	<body>
		<div id='container'>
			<%= render 'list_posts' -%>
			<div id='conteudo'>
				<div id='post'>
					<div> <%= @post.titulo.html_safe -%> </div>
					<div> <%= @post.conteudo.html_safe -%> </div>
				</div>
			</div>
		</div>
	</body>
</html>