// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#container{width: 100%; display: table;}
#menus{display: table-cell; width: 20%; vertical-align: top;}
#container_list{width:20%; display: table-cell; background-color: #FFFFFF;}
#container_login{width:20%; display: table-cell; background-color: #FFFFFF; text-align: center; padding: 20px; font-size: 16px;}
#conteudo{text-align: center; width: 80%; margin-left: 50px;}
#post{background-color: #FFFFFF; padding: 5px 0px 5px 0px; margin-bottom: 30px;}
#body{background-color: #0B2F3A;}
#container_list li{list-style-type: none; font-size: 16px; font: menu; margin-top: 10px;}
.titulo{font-size: 30px; margin: 15px;}
.post_info {margin: 10px; padding-top: 50px; font-size: 15px;}
#post_new{background-color: #FFFFFF; padding: 5px 0px 5px 0px; text-align: center; width: 60%; height: 600px; vertical-align: middle; display:table; margin-left:20%;}
#session_new{background-color: #FFFFFF; padding: 5px 0px 5px 0px; text-align: center; width: 60%; display:table; margin: 5% 0 0 20%;}